<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TangyWeb_Server</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bindProp">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bind Prop
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/demoProduct">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/parentComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Parent/Child Relation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/learnRouting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Learn Routing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/blazorJs">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Blazor Js
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/lifeCycle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Life Cycle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/category">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Category
            </NavLink>
        </div>
    </nav>
</div>

